 /*For debugging 
div {
border: 1px solid black;
}
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f6f6f6; 
  margin: 0px;
  padding: 0px;
  font-size: medium;
  margin: 0 0 30px; /* bottom = footer height*/ 
  overflow: scroll;
}

h1 {
  font-family: arial, helvetica, sans-serif;
  font-size: 2.8em;
  font-weight: bold;  
  color: #052f4c;
}

h2 {
  font-family: arial, helvetica, sans-serif; 
  font-size: x-large;
  color: #545454;  
}

.plan, .it, .ed {
  display: inline-block;
  margin: 0 12px;
  text-align: center;
}

.header {
  text-align: center;
  padding: padding:15px;
}

.content {
  position: relative;  
  margin: 0 auto;
  /* Remove this so that index icons stay in center longer before stacking */
  /* width: 50%; */
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/* blue color of website on Educational links */
 .colorLink:visited, .colorLink:link  {

  color: #006BB2;
}

a:hover {
  text-decoration: none;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}
  
.googleCal {
  text-align: center;
}  
  
.submit {
  margin-left:15px;
}  

.buttonsProfile button {
  margin-top: 15px;
  margin-left: 15px;
  font-size: medium;

}

.jobs {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  height: 1903px;
  text-align: center;
}  

/*100% gives the page two scroll bars when 496px doesnt*/
/*.clink{
  height: auto;
  /*height: 546px;*/
 } 
 
.clear { 
  clear: both; 
}
 
#save {
  visibility: hidden;
  margin-left: 15px;
  font-size: large;
  display: inline-block;
}

#save2 {
  visibility: hidden;
  margin-left: 15px;
  font-size: large;
  display: inline-block;
}

#send {
  visibility: hidden;
  font-size: large;
}

#container {
  width: 600px;
  margin: 50px auto;
}

.profilePage div {
  margin:15px;
}

/* For P_links page */
.link {
  height: 50px;
  margin-left: 15px;
}

.image-wrapper {
  position: relative;
  height: 39px;
  width: 36px;
  display:inline-block;    
}

.input-wrapper {
  position: relative;
  height: 39px;
  width: 92%;
  display:inline-block;
}

.image-wrapper img {
  position: absolute;
  right: 0;
  bottom: 1px;
  display:inline-block; 
}

.input-wrapper input {
  position: absolute;
  left: 5px;
  bottom: 0;
  font-size: large;
  width: 100%;
  height: 28px;
  padding: 0px;
  margin: 1px;
}




/* For P_Profile page */

.LogoutDiv {
  display: block;
  padding: 0px;
  margin: 15px;
  padding-bottom: 40px;
}

.ProfileDiv {
  margin-left: 15px;
  padding: 10px;
  padding-left: 0px;
}
.ProfileDiv h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.EditName {
  margin: 15px;
  display: inline-block;
  vertical-align: text-bottom;
}

.ProfileEditButton, .SignInButton, .SubmitButton{
  height: 28px;
  font-size: medium;
}

.ProfileButtonDiv {
  float:left;
}

/* css for profile boxes */
.profileForm, .profileSaveButtons
{
	margin:30px auto;
  margin-bottom: 0px;
	width:70%;
	background-color:#eee;
	padding:20px;	
	border-radius: 5px;
	clear: both;
  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* I_Resources page */
#accordionEd {
  margin: 0 auto;
  width: 90%;
  margin-top: 3%;
}

#accordionEd div ul li {
  padding:5px;
}

#accordionEd h3 {
  font-weight: bold;
}

#accordionEdHeading {
  margin-left: 5%;
  text-align: left;
  color: #006BB2;
}

/* change accordion header color when active */
.ui-accordion-header.ui-state-active { 
  background: #006BB2;  
  color: white;
}

/* when you have collapsed the accordion, indicates where focus is currently */
#accordionEd .ui-state-focus {border: 2px solid #006BB2; outline: none;}


.submenu, .planmenu {
float: left;
margin: 0px auto;
padding: 25px;

}
.planmenu {
width: 75%;
}
.submenu3 {
position: relative;
/*left: 25%; */
margin: 0px auto;
padding: 0px;
text-align: center;
}
.smallimages {
/* float: left; */
display: inline-block;
padding: 0px 25px;
}
.activelink{
background: lightgray;
}

