/* ========================================================== 
   Navigation bar based on                          
   http://www.hongkiat.com/blog/responsive-web-nav/ 
   
   ========================================================== */
  

/* 
 * navigation bar; width fills screen 
 */
 
nav {  
    height: 70px; 
    width: 100%;
    background: #ffffff;   
    font-size: large;  
    font-family: arial, helvetica, sans-serif;   
    position: relative;  
    border-bottom: 1px solid gray;  
} 

/*
 * unordered list for navigation bar 
 */ 
 
nav ul {  
    padding: 0px;  
    margin: 0 auto;  
    width: 625px;  /* 5 menu links, so 100px per link */
    height: 40px; 
    float: right;
    bottom: 0px;
}  

/*
 * list items for navigation bar 
*/
nav li {  
    display: inline;  
    float: left;  
}  

/*
 * ?????CSS clearfix hack??????? 
 */
 
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

nav a {  
    color: #545454;  
    display: inline-block;  
    width: 125px;  /* entire container for 5 links is 500 px, so 100 px each */
    text-align: center;  
    text-decoration: none;  
    line-height: 70px;    
}  

nav li a {   
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
    border-right: 0;  
}  

/*
 * Make color of navigation bar brighter when in hover or active 
*/

nav a:hover, nav a:active {  
    background-color: none;
    border-bottom:  6px solid #006BB2;
    height:70px;
} 

/*
 * Do not display the word Menu if the navigational bar readable 
 * When viewport becomes small, collapse to single word (Menu)   
*/

nav a#pull {  
    display: none;  
}   

@media only screen and (max-width : 625px) {  
    nav {  
        border-bottom: 0;
		height: auto;
     
    }  
	
	 nav ul {   
		width: 100%;
        display: none;  
        height: auto;  
    }
	
	 nav a {
		text-align: center;
		width: 100%;
		text-indent: 25px;
		}
	
/*    
 * Display hidden word Menu     
*/

    nav a#pull {  
        display: inline-block;  
        background-color: white;  
        width: 100%; 
        position: relative; 
		border-bottom: none;
    }  

/*
 * Gives "Menu" hamburger icon using :after pseudo-element 
 */  
 
    nav a#pull:after {  
        content:"";  
        background: url('../Images/nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px; 
		display: inline-block;
        position: absolute; 
        right: 10px;  
        top: 23px;  
    }  
 

/*
 * Occurs when viewed in < 300 px width                    
 * Replaces navigation bar choices vertically              
 */
 
 
    nav li {  
        display: block; 
		float: none;
        width: 100%;
		
    }  
	nav li a {  
        border-bottom: none;  
    }  
}  

